footer{
    background-color: var(--colorPrimary2);
    width: 100%;
    height: auto;
}

.footer-itens{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 10px 8% 24px 8%;
    gap: 18px;
    align-items: center;
}

.copyright{
    color: var(--colorNeutra1);
    font-weight: 500;
}