:root{
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* HEX COLOR TO FILTER CONVERTER */
/* https://isotropic.co/tool/hex-color-to-css-filter/ */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
}

/* TOPO */

.navegacao{
    background-image: url(../IMG/Quadrado\ logo\ 2.svg);
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: top;
}

.cabeca{
    background-color: var(--cinza-control);
    height: 137px;
    width: 100%;
    position: fixed;
    display: flex;
}

.nav-cabeca{
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.logo-control{
    padding: 2px;
    padding-left: 5px;
    /* height: 100%;
    background-color: yellow; */
}

#img-logo{
    height: 100%;
    width: 100%;
}

.nav-cabeca H3{
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: var(--cinza-control);
    font-size: 23px;
}

.usu{
    padding-right: 5%;
    height: 100%;
    width: auto;  
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.usu-botao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    width: 70%;
    color: var(--cinza-control);
    font-size: 17px;
    text-decoration: none;
}

/* INFO USUARIO */

.usu-detalhes{
    display: none;
    position: absolute;
    /* min-width: 300px; */
    width: auto;
    background-color: var(--cor-fundo);
    border: 2px solid var(--cinza-control);
    padding: 5px;
    text-decoration: none;
    align-content: center;
    justify-content: space-between;
    right: 150px;
}

.texto-usu{
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.texto-usu .nome{
    font-size: 23px;
    font-weight: 700;
}

.texto-usu .email{
    font-size: 13px;
    font-weight: 500;
}

.texto-usu li a{
    text-decoration: none;
    font-size: 13px;
    color: rgb(39, 75, 238);
}

.menu-usuario:hover .usu-detalhes{
    display: flex;
    flex-direction: row;
}

/* LATERAL */

.lateral{
    position: fixed;
    top: 137px;
    width: 25vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-control);
    align-content: space-evenly;
}

.menu-Lateral{
    left: 10%;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    bottom: 10px;   
}

.botao{
    width: 100%;
    height: 89px;
    display: flex;
    align-content: center;
    justify-content: right;
}


.botao button{
    background-color: #2d3945;
    width: 95%;
    height: 59px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 13px;
    color: var(--cor-fundo);
    cursor: pointer;        
}
.botao-Lateal:hover{
    background-color: #181f26;
    color: var(--verde-control);
}

.botao-Lateal:hover img{
    filter: invert(51%) sepia(58%) saturate(446%) hue-rotate(92deg) brightness(96%) contrast(89%);
}

.sair{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.sair button{
    width: 80%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3945;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 13px;
    color: var(--cor-fundo);;
    cursor: pointer;
}