*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro{
    background-image: url(../img/02_Group_B-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* padding: 20px; */
    /* backdrop-filter: blur(2px); */
    opacity: 0.99;
}

.box{
    /* color: aliceblue; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    width: 1500px;
    display: flex;
    height: 600px;
    position: relative;
    top: 30px;
}

.img-box{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}

.img-box img{
    /* height: 55%; */
    width: 85%;
    border-radius: 20px 0;
}

.form-box{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    backdrop-filter: blur(7px);
    padding: 30px 40px;
    border-radius: 0 20px 20px 0;
}

.form-box h2{
    font-size: 40px;
    text-align: center;
    /* color: rgb(0, 110, 255); */
    color: brown;
    
}

.form-box p{
    font-size: 20px;
    color: gray;
    text-align: right;
    font-weight: bold;
}

.form-box p a{
    text-decoration: none;
    color: blue;
}

.form-box form{
    margin: 20px 0;
    /* border: 3px solid red; */
    border-radius: 20px;
    height: 80%;
}

.form-box .input-group{
    margin-bottom: 15px;
}

.form-box .input-group label{
    color: #3d3d3d;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-box .input-group input{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

.form-box .input-group input::placeholder{
    color: red;
}

.form-box .input-group input:focus{
    border-color: rgb(0, 110, 255);
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.form-box .input-group button{
    width: 100px;
    height: 30px;
    background-color: brown;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid brown;
}

.form-box .input-group button:hover{
    background-color: whitesmoke;
    color: black;
}