.corpo{ 
    z-index: 1;
    position: absolute;
    display: flex;
    top: 157px;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    background-color: rgba(205, 205, 205, 0.52);
    justify-content: space-between;
    justify-content: center;
    align-items: start;
    padding: 5px;
    overflow: auto;
    scroll-behavior: smooth;
}


/* TESTE DE SCROLL */
.teste-scroll{
    margin-top: 50%;
    display: flex;
    background-color: #3AA867;
    height: 300px;
    align-content: end;
    align-items: end;
}


/*  TESTE DE TABELA  */
.tabela{
    width: 100%;
    height: auto;
}

.tabela-atendidos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: center;
}

.tabela-atendidos thead{
    height: 3.5vh;
    background-color: var(--cinza-control);
    display: flex;
    color: var(--cor-fundo);
}

.tabela-atendidos tbody{
    color: var(--cinza-control);
}

.tabela-atendidos tr{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tabela-atendidos th, td{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 3.5vh;
    text-transform: capitalize;
    align-content: center;
    text-indent: 3px;

    /* POGzão na veia */
    margin-left: -1px;
    margin-bottom: -1px;
}